.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 14px;
    border-radius: 0.15em;
    transition: all 0.2s ease-in-out;
    &:hover{
        color: $white;
    }
}
.btn-secondary{
    background-color: $brand-secondary;
}